@use './common.scss' as *;
@use './responsive.scss';
#wrap {
    header {
        @include flex-row; justify-content: space-between;
        position: fixed; top:0;right:0;left:0; z-index: 999;
        padding:20px 40px 0;
        .left {
            @include flex-row; gap:30px;
            .logo {} 
            .nav {
                @include flex-row;
                align-items: center; justify-content: center;;
                a {color:$color-white;}
                .nav_list {@include flex-row; gap:30px;
                }
            }
        }
        .right_menu {
            @include flex-row; gap:35px;  
            justify-content: center; align-items: center;
            .language {
                span {color:$color-white}
                @include flex-row; gap:5px; align-items: center;
            }
        }
    }
    main {
        /* 공통 */
        /* title */
        .title {
            font-size: $font-size-22;font-weight: $font-weight-medium;
            margin-bottom: 30px;
        }
        #main_view {
            .swiper-wrapper {
                .swiper-slide {
                    width:100%; height: 100vh;position: relative;
                    @include bgset;
                    .main_product_img{
                        @include flex-col;width:250px;
                        position: absolute; bottom:180px;left:50%;transform:translateX(-50%);
                        img { display: block; width:100%}
                        .main_product_bg { }
                        .main_product_thumb { 
                            position: absolute;
                            bottom: 10px;
                            left: 50%;
                            transform: translateX(-50%);
                            display: block;
                            width: 80%;  
                        }
                    }
                    .main_product_info {   
                        position: absolute; bottom:120px;left:50%;transform: translateX(-50%);
                        @include flex-col;@include flex-center; gap:5px;
                        p {color:$color-point;font-weight: $font-weight-medium;}
                        h2 {color:$color-point;font-weight:$font-weight-medium;font-size: $font-size-30; }
                    }
                    .main_product_learn_more{
                        position: absolute; bottom:65px;left:50%;transform: translateX(-50%);
                        border: 1px solid $color-point; border-radius: 20px;
                        font-size:$font-size-15;color:$color-point;padding: 7px 14px; font-weight: $font-weight-medium;
                        
                    }
                }
                .main_swiper_1 {
                    background-image: url(/images/main/main_bg_6.jpg);
                }
                .main_swiper_2 {
                    background-image: url(/images/main/main_bg_7.jpg);
                }
                .main_swiper_3 {
                    background-image: url(/images/main/main_bg_3.jpg);
                }
                .main_swiper_4 {
                    background-image: url(/images/main/main_bg_4.jpg);
                }
                .main_swiper_5 {
                    background-image: url(/images/main/main_bg_5.jpg);
                }
            }
            .swiper-pagination { 
                bottom:30px;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid $color-point;
                    background: transparent; 
                    opacity: 1;
                }
                .swiper-pagination-bullet-active {
                    width:10px;background:$color-point; 
                    height:10px; border-radius:50%;
                }
            }
            .swiper-button-prev {}
            .swiper-button-next {}
        }
        #category {
            padding:80px 50px;
            .cate_wrap {
                @include flex-row;
                width:100%;
                .category_list {
                    flex: 1 1 0;
                    position: relative;
                    overflow: hidden;
                    height: 500px;
                    transition: flex 0.5s ease;   // ★ flex 애니메이션
                    img{
                        width: 100%;height: 100%; object-fit: cover;
                        display: block;
                        transform: scale(1);   // 기본 크기
                        transition: transform .5s ease, filter .3s ease;
                        filter: brightness(0.9);
                    }
                    h2 {
                        position:absolute; bottom: 30px;left: 30px; color:$color-white;
                        font-size: $font-size-18;font-weight: $font-weight-medium;
                        transition: font-size .3s ease, transform .3s ease;
                        transform-origin: left bottom;
                    }
                }
                &:hover .category_list img {
                    filter: brightness(0.8);
                    }
                
                    // 선택된 카드만 확대 + 밝게
                .category_list:hover img {
                    filter: brightness(1.05);
                }
                .category_list:nth-child(1):hover img {
                    transform: scale(1.3);
                }
                .category_list:nth-child(4):hover img {
                    transform: scale(1.3);
                }
                
                .category_list:hover h2 {
                    font-size: 48px;          // 글자 48px까지
                    transform: translateY(-5px); // 살짝 위로 올리고 싶으면 (옵션)
                }
                &:hover .category_list {
                    flex: 0.7 1 0;          // 전체가 살짝 좁아짐
                }
            
                // 그중에서 실제로 hover된 카드만 확 넓어짐
                &:hover .category_list:hover {
                    flex: 1.3 1 0;          // 이 카드만 넓어짐 → 슬라이드 열리는 느낌
                }
            }
            
        }
        #best_sellers {
            padding:80px 50px;
                
            .best_wrap{
                @include flex-row; overflow: hidden;              
                .best_category {
                    @include flex-col;
                    gap:30px; 
                    @include flex-center;
                    margin:0 120px 0 80px;
                    flex: 0 0 auto;
                    li {
                        position: relative;
                        &::after {
                            content: ''; width: 130px;height: 1px; display: block;
                            background-color: #ddd; position: absolute; bottom:-15px; left:-45px;
                        }
                        &:nth-child(4)::after {
                            display: none;
                        } 
                        &.active button {color:#000}
                        & button {color: #bbb; transition:color 0.25s ease;}
                        &.active button:hover {color:#000;}
                        & button:hover {
                            color:#888
                        }
                    }
                }
                .best_contents {
                    position: relative;         // 패널들 겹치게 깔아둘 거라 필요함
                    min-height:650px;   
                    flex: 1 1 0;
                    .swiper {
                        .swiper-wrapper{
                            .swiper-slide{
                                .thumb {
                                    position: relative;
                                    max-width: 445px; 
                                    width:100%;
                                    height: 570px;
                                    .img_default,.img_hover {
                                        position: absolute;
                                        width:100%;height:100%;
                                        transition: opacity 0.8s ease;                         
                                    }
                                    .num {position: absolute;top:0 ;left:0;
                                        max-width: 80px; top:15px;left:15px;
                                        img {width:100%;height:auto;}
                                    }
                                    .img_default { opacity: 1; }
                                    .img_hover   { opacity: 0; }
                                    &:hover .img_default {opacity: 0;}
                                    &:hover .img_hover {opacity: 1}
                                } 
                                .info {
                                    @include flex-col;gap:5px; @include flex-center;
                                    margin-top:10px;
                                    .name {
                                        font-size:$font-size-17; font-weight: $font-weight-medium;
                                    }
                                    .detail {
                                        font-size:$font-size-15; font-weight:$font-weight-light;color: #999;
                                    }
                                    .price {
                                        margin-top:5px;
                                        font-size:$font-size-17;font-weight: $font-weight-medium;
                                    }
                                }
                            }
                        }
                        .swiper-button-prev,.swiper-button-next {
                            transform: scale(1) translateY(-50%);top:50%;z-index: 10;opacity: 0.5;
                            transition:opacity 0.2s ease ;
                            &.swiper-button-disabled {opacity: 0;}
                        }
                        .swiper-button-prev:hover ,.swiper-button-next:hover {opacity: 1;}
                        .swiper-button-prev svg,.swiper-button-next svg {
                            width: 17px;
                            height: 12px;
                            fill: currentColor;   // ✨ 핵심
                            transition: fill .3s ease, color .3s ease;
                        }
                        .swiper-button-prev:hover svg path,.swiper-button-next:hover svg path{
                            fill:#fff
                        }
                        .swiper-button-prev{left: 20px}
                        .swiper-button-next{right:30px}
                        .swiper-button-prev::before,.swiper-button-next::before {
                            content: '';width:50px;height: 50px; border-radius: 50px;
                            background:$color-white ; display: block; position: absolute;inset: 0;
                            z-index: -2; transform: translateX(-50%)translateY(-50%); top:50%;left:50%;
                            transition: background-color 0.3s ease;
                            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
                        }
                        .swiper-button-prev:hover::before,.swiper-button-next:hover::before{
                            background:#454545;
                        }

                    }
                        .best_panel {
                            position: absolute;
                            inset: 0;                 // top:0; right:0; bottom:0; left:0;
                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;
                            transition: opacity 0.4s ease;  // ✨ 여기서 부드럽게
                        }
                        
                        .best_panel.active {
                            opacity: 1;
                            visibility: visible;
                            pointer-events: auto;
                            z-index: 1;
                        }
                }
            }
        }
        #youtube_banner {
            position: relative;
            width: 100%;
            height: 600px;
            overflow: hidden;
            .youtube{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%; 
                transform: translate(-50%, -50%);
                pointer-events: none; 
            }
        }
        #new_collection {
            padding:80px 50px;
            display: none;
        }
        #brand_banner {
            height:640px;
            position: relative;
            padding:0 100px 0;
            .brand_wrap{
                @include flex-col; align-items: end; gap:30px; justify-content: center;
                height: 100%;
                .brand_title {
                    @include flex-col; align-items: end;gap:8px;
                    h2 { 
                        font-size: $font-size-42;color: $color-white;
                        em {color:$color-point;font-weight: $font-weight-bold;}
                    }
                }   
                .brand_contents {
                    @include flex-col; align-items: end; gap:10px;
                    p {font-size: $font-size-18;color: $color-white}
                    span {color:$color-white}
                }
                a {
                    font-size: $font-size-15;color: $color-white; color:$color-point;
                    padding:10px 20px ; border: 1px solid $color-point; border-radius:20px ;
                }
            }
            &::before {
                content: ''; position: absolute; inset: 0;
                background-image: url(/images/banner/brand_banner.jpg);
                transform: scaleX(-1);z-index: -1; 
            }
        }
        #with_celebs {
            padding: 80px 50px;
            .celeb_id {
                display: block;
                margin-bottom: 8px;
                color: #aaa;
            }
            #celeb_swiper {
                .swiper-wrapper{
                    align-items: center;
                    .swiper-slide{
                        transform: scale(0.9); opacity: 0.6;
                        transition: transform 0.4s ease,opacity 0.4s ease;
                        /* opacity: .6 */;
                        .video_wrap {
                            video {
                                width:100%;height: 100%;
                                object-fit: cover;
                                display: block;
                                border-radius: 10px;
                            }
                        }
                    }
                    .swiper-slide.swiper-slide-active {
                        transform: scale(1);opacity: 1;
                    }
                    
                }
                .swiper-button-prev,.swiper-button-next {
                    position: absolute;
                    svg {
                        width:22px;height:22px;
                    }
                }
                .swiper-button-prev{left: 35%}
                .swiper-button-next{right: 35%;}
            }
        }
        #store_location {
            padding:80px 50px;
            .store_wrap{
                @include flex-row; gap:50px;
                .store_img {
                    aspect-ratio: 2/1;
                    @include flex-row;gap:0;
                    img{width:100%;height: 100%;max-width: 350px}
                }
                .store_info {
                    @include flex-col;justify-content:center;gap:30px;align-items: start;
                    p {font-size:$font-size-20;font-weight: $font-weight-medium;}
                    h2 {font-size:$font-size-30;font-weight: $font-weight-medium;white-space: nowrap;}
                    span {}
                    button {
                        padding:11px 20px; background-color: $color-black;
                        border-radius: 20px;color:$color-white;
                        font-size: $font-size-15; font-weight: $font-weight-ragular;
                        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); 
                    }
                }
            }
        }

    }
    footer {
        background: #111;
    }
}